@{
  Layout = "_Layout";
}

<h1>Best Restaurants</h1>

<h2>Update @Model.GetName() Cuisine</h2>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <div class="form">
        <form action="/cuisines/@Model.GetId()/@Model.GetName()-restaurants/update" method="post">
          <label for="cuisine-name">Cuisine type:</label>
          <br>
          <input type="text" name="cuisine-name" id="cuisine-name">
          <br>
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>

<p class="buttons"><button><a href="/">Home</a></button></p>
