@{
  Layout = "_Layout";
}

<h2>Add a Cuisine</h2>

<form action="/cuisines" method="post">
  <label for="cuisine-name">Cuisine type:</label>
  <input type="text" name="cuisine-name" id="cuisine-name">
  <button type="submit">Add it!</button>
</form>
