@{
  Layout = "_Layout";
}

<h1>Best Restaurants</h1>

<h2>Cuisines</h2>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      @foreach (var cuisine in Model)
      {
        <li><a href="/cuisines/@cuisine.GetId()/@cuisine.GetName()-restaurants">@cuisine.GetName()</a></li>
      }
    </div>
  </div>
</div>

<p class="buttons"><button><a href="/cuisines/form">Add Cuisine</a></button></p>
<p class="buttons"><button><a href="/cuisines/delete-all"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> All</a></button></p>
